body{
  background-color: lightgrey;
}
sidebar{
  float: left;
  width: auto;
  height: auto;
  background-color: aqua;
}
menu{
  float: left:
}
#photo{
  text-align: left;
  background-color: Aqua;
}
.header{
  text-align: center;bottom: auto;
  background-color: Aqua;
}
#content{
  float: right;
  width: 89%;
  background-color:lightgreen ;

}
#sidebar{
  float: left;
  width: 10%;
  border-right: 3px solid black;
  background-color: lightblue;

}
#wrap{
  border-top: 5px solid black;
  overflow: visible;
}
