body {
  background-color: lightgrey;
}

#hello {
  color: black;
  text-align: left;
  padding-top: 70px;
  margin-top: 20px;
}

#proj {
  color: black;
  text-decoration-style: dotted;
}

.container {
  text-align: center;
}

#carousel-example-generic {
  overflow-y: hidden;
  height: 400px;
}
